@model TrashCollector.Models.Customer

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerStreet" class="control-label"></label>
                <input asp-for="CustomerStreet" class="form-control" />
                <span asp-validation-for="CustomerStreet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerCity" class="control-label"></label>
                <input asp-for="CustomerCity" class="form-control" />
                <span asp-validation-for="CustomerCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerState" class="control-label"></label>
                <input asp-for="CustomerState" class="form-control" />
                <span asp-validation-for="CustomerState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerZipCode" class="control-label"></label>
                <input asp-for="CustomerZipCode" class="form-control" />
                <span asp-validation-for="CustomerZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrashDay" class="control-label"></label>
                <input asp-for="TrashDay" class="form-control" />
                <span asp-validation-for="TrashDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExtraPickUpRequest" class="control-label"></label>
                <input asp-for="ExtraPickUpRequest" class="form-control" />
                <span asp-validation-for="ExtraPickUpRequest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TemporarySuspendPickUp" class="control-label"></label>
                <input asp-for="TemporarySuspendPickUp" class="form-control" />
                <span asp-validation-for="TemporarySuspendPickUp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdentityUserId" class="control-label"></label>
                <select asp-for="IdentityUserId" class ="form-control" asp-items="ViewBag.IdentityUserId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
