@model TrashCollector.Models.EmployeeCustomersViewModel

@{
    ViewData["Title"] = "Employee Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Welcome @Model.Employee.Name</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].CustomerName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Customers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
            </tr>
        }
    </tbody>
</table>

 <form asp-action="Index">
     <select asp-for="SelectedDay" asp-items="@Model.DaysToSelect"></select>
     <button type="submit">Select Day</button>
 </form>