@model TrashCollector.Models.EmployeeCustomersViewModel

@{
    ViewData["Title"] = "Employee Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
         /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
         #map {
             height: 100%;
         }
         /* Optional: Makes the sample page fill the window. */
         html, body {
             height: 100%;
             margin: 0;
             padding: 0;
         }
    </style>
</head>
<body>
    <div id="map"></div>
    <script>
      var map;
        function initMap()
        {
            map = new google.maps.Map(document.getElementById('map'),
        {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB74-RvWvZttGsfWl473zlWPyVPE3yPD4A&callback=initMap"
            async defer></script>
</body>
</html>

<h3>Welcome @Model.Employee.Name</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].CustomerName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Customers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
            </tr>
        }
    </tbody>
</table>

<form asp-action="Index">
    <select asp-for="SelectedDay" asp-items="@Model.DaysToSelect"></select>
    <button type="submit">Select Day</button>
</form>