@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Trash Company</h1>
    <br />
    <p>If you are a returning customer please login to view or update you profile and check your account balance.</p>
    <br />
    <p>If you are a current employee please login to view your work details.</p>
    <br />
    <p>If you are a new customer or employee, please register to create your account.</p>
</div>
