@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    <h1 class="display-4">Privacy Policy</h1>
    <br />
    <p>We will not sell your information to any third party orginization(s) without prior written or verbal consent.</p>
</div>